.form {
  display: flex;
  justify-content: center;
}

.ng-touched.ng-valid.show-color {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.329);
  border-width: 2px;
}
.ng-touched.ng-invalid.show-color {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.411);
  border-width: 2px;
}

.border-big {
  border-color: black;
  font-size: xx-large;
  border-width: 2px;
  text-transform: uppercase;
  text-align: center;
}

.question {
  font-size: larger;
}

.validation-container {
  margin-top: 40px;
}

.my-title{
  margin-bottom: 20px;
}