.titolone {
  font-size: 250%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.draghetto {
  width: 120px;
  margin-bottom:20px;
  height: fit-content;
}
