<div class="all-center">
  <my-title text="Caccia al tesoro" class="pb-5"></my-title>
  <div class="container">
    <form [formGroup]="form" autocomplete="off" class="form-group">
      <div class="p-2">
        <h2 class="text-center">Nome squadra</h2>
      </div>
      <input
        id="teamName"
        type="text"
        class="form-control border-black"
        formControlName="teamName"
        (keyup.enter)="check()"
      />

      <div class="code">
        <div class="p-2 pt-5">
          <h2 class="text-center">Codice foglio</h2>
        </div>
        <input
          id="code"
          type="text"
          class="form-control border-black"
          formControlName="code"
          (keyup.enter)="check()"
        />
      </div>
    </form>
  </div>
</div>
